<app-navbar></app-navbar>
<h2 style="margin: 15px 0 0 15px;">Hello {{ user?.Username }}! </h2>
<div style="display: flex; margin: 15px;">
  <mat-card class='user-info'>
    <mat-card-header>
      <mat-card-title>Your Profile Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3><b>Name: </b>{{ this.user.Name }}</h3>
      <h3><b>Username: </b>{{ this.user.Username }}</h3>
      <h3><b>Email: </b>{{ user.Email }}</h3>
      <h3><b>Birthday: </b>{{ user.Birthday | date : 'mediumDate' }}</h3>
      <br>
      <button
        class='profile-btn'
        mat-raised-button
        style='margin-right: 10px;' color="primary">
        Edit Profile
      </button>
      <button class='profile-btn' color="warn" mat-raised-button (click)="deleteProfile()">
        Delete Profile
      </button>
    </mat-card-content>
  </mat-card>
</div>
<div style="display: flex;">
  <div *ngFor="let movie of favs" style="display: flex; margin: 15px;">
    <mat-card>
      <mat-card-header style="text-align: left;">
        <mat-card-title>{{movie.Title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src={{movie.ImagePath}} alt={{movie.Title}} style='height: 325px;' />
      <button mat-button color='primary' (click)='openSynopsis(movie.Title, movie.ImagePath, movie.Description)'>
        Synopsis
      </button>
      </mat-card-content>
      <mat-card-actions>
        <mat-icon class="fav-icon"
        class='profile-btn'
        (click)="removeFav(movie._id)"
        style='margin-right: 10px;'>
      </mat-icon>
      <mat-icon class="fav-icon"
        class='profile-btn'
        (click)="removeFav(movie._id)"
        style='margin-right: 10px;'
        color="primary"
        >
        favorite
      </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
