<div class="profile-container">
    <mat-card class="mat-elevation-z10">
      <mat-card-header>
        <mat-card-title>User's Profile</mat-card-title>
      </mat-card-header>
      <div class="content-container">
        <mat-card-content>
          <mat-icon>person</mat-icon>
          <span id="profile-title">Username: </span
          >{{ user.Username }}</mat-card-content
        >
        <mat-card-content>
          <mat-icon>email </mat-icon>
          <span id="profile-title">Email: </span
          >{{ user.Email }}</mat-card-content
        >
        <mat-card-content>
          <mat-icon>cake</mat-icon>
          <span id="profile-title">Birthday: </span
          >{{ user.Birthday | date }}</mat-card-content
        >
      </div>

    </mat-card>
  </div>


  <h2 class="user-fav">Your Favorite Movies</h2>
  <div class="favorites-container">
    <mat-card
      *ngFor="let favorite of FavMovies; let i = index"
      class="favorite-card"
    >
      <mat-card-header class="fav-header">
        <mat-card-title class="fav-title">{{ favorite.Title }}</mat-card-title>
        <mat-card-subtitle class="fav-subtitle">
          Director: {{ favorite.Director.Name }}
        </mat-card-subtitle>
      </mat-card-header>
      <div class="img-container">
        <img src="{{ favorite.ImagePath }}" alt="{{ favorite.Title }}" />
      </div>


    </mat-card>
  </div>
